/* Flatpicker */
.flatpickr-calendar {
    border: 2px solid #000;
    box-shadow: none;
}
.flatpickr-day {
    font-weight: 700;
}
.flatpickr-day.selected,
.flatpickr-day.selected:hover {
    background-color: #000;
    border-color: #000;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 700;
}
.flatpickr-current-month input.cur-year {
    font-weight: 700;
}
span.flatpickr-weekday {
    font-weight: 700;
    color: #000;
}
/* Loader */
.loader {
    border: 24px solid;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
    background: #000;
  }

@keyframes animloader {
    0% {
      border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
}
    33% {
      border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
}
    66% {
      border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
}
    100% {
      border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
}
  }